*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      /* outline: 1px solid red; */
}


.clear-fix
{
    clear: both;
}

.home
{
  background-image: url(./imeges/hero\ img.jpg);  
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
 background-size:auto ;
}
.homecontent
{
    margin: auto;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-bar .logo a
{
    font-size: 150%;
    text-align: center;
    color: #FF305B;
    text-decoration: none;
}
/* .nav-bar ul
{
     display: flex;
  gap: 20px;
  list-style: none;
} */

.nav-bar ul li
{
 display: flex;
 flex-direction: row;
 align-items: center;
  padding: 0px 10px;
}

.navbar-nav .nav-link {
  color: #d3d3d3;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #ff305b;
}

.nav-bar ul li a
{
    color: #d3d3d3;
    text-decoration: none;
}

.homecontent .content
{
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  z-index: 2;
  color:#d3d3d3 ;
}

.homecontent .content h1
{
    color: #FF305B;
    font-size: 250%;
    font-weight: 500;
    text-align: center;
}
.homecontent .content h4
{
    font-size: 100%;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}


/*==================================== section 2 =====================================*/
.I-HELLO
{
    width: 95%;
    margin: auto;
    margin-top: 50px;
   
}


.I-HELLO img
{
    margin: auto;
  
  border-radius: 3%;
  border: solid gray 5px;

}





.I-HELLO .discription h1 span
{
    color: #FF305B;
}

.I-HELLO .discription table td
{
    padding-right: 30px;
    padding-bottom: 7px;
    padding-top:  10px; ;
}

.I-HELLO .discription button
{
    padding: 7px 15px;
    margin-right: 35px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #ff305b;
    color: white;
    border-radius: 5px;
    border: none;
    
}

.I-HELLO .discription button:hover
{
    background-color: red;
}

/* =================================== SECTION 3 ==================================== */

.Our-Services
{
    width: 95%;
    padding-top: 50px;
    margin-left: 100px;
    margin: auto;
    text-align: center;
    background-color: #f1f1f1;
}
.Our-Services h1
{
    padding-bottom: 30px;
}
.Our-Services .optionsss
{
    
    background-color:#f1f1f1 ;
    
   
}
.Our-Services .optionsss .option
{
    
    border-left: 20px;
    border-right: 20px;
    border-bottom: 80px;
    border-style: solid;
    border-color: transparent;
    padding-top: 20px;
    transition: 1s;
    margin-bottom: 20px;
}

.i 
{
    color: #ff305b;
    font-size: 40;
    margin-bottom: 10px;
}

.Our-Services .optionsss .option:hover
{
    background-color: white;
    transform: scale(1.1);
    border-radius: 10px ;
}

/* =================================== SECTION 4 ( our portofolio ) ==================================== */
.Our-Portfolio
{
   
    width: 95%;
    padding-top: 50px;
    margin-left: 100px;
    margin: auto;
    text-align: center;
}


.Our-Portfolio .optionsss .option
{
   
    border-left: 20px;
    border-right: 20px;
    border-bottom: 30px;
    border-style: solid;
    border-color: transparent;
}


.Our-Portfolio .optionsss .option img
{
    width: 100%;
    text-align: center;
}

.Our-Portfolio .optionsss2 .option
{
  
    border-left: 20px;
    border-right: 20px;
    border-bottom: 80px;
    border-style: solid;
    border-color: transparent;
}
.Our-Portfolio .optionsss2 .option img
{
    width: 100%;
    text-align: center;
}



/* =================================== SECTION 5 ==================================== */
.section-5
{
    background-color: rgb(241,241,241);
   text-align: center;
   margin-top: 80px;
   margin-bottom: 80px;


}
.section-5 .child-of-section-5
{
   padding-top: 10px;
   padding-bottom: 10px;
   margin: auto;
    
}

.section-5 .child-of-section-5 h2
{
    padding: 15px 0px;
    
}




/*=====================section 6 ( Client's Feedback )===========================*/

.feedback
{
   width: 75%;
    background-color:#f1f1f1;
    margin-top: 50px;
    border-radius: 15px;
    padding:  70px 80px;
}

.box
{
    margin: 30px 70px;
    background-color:#f1f1f1;
    border-radius: 30px;
    padding: 20px 10px;
}

.imgg .img img
{
    width: 100%;
    border-radius: 50%;
    border-width: 0.25px;
 border-style: solid;
 border-color: #63615c;
}
 

.feedback .content
{
   width: 80%;
    text-align: left;
    
}

.feedback .content a
{
    text-decoration-line: none;
    color: #63615c;

}

.feedback .content p
{
    color: #63615c;

}
.small-line
{
   width :5% ;
   height: 1px;
   background-color: #ff305b;
   border-radius: 5px;
   margin: auto;
   margin-bottom: 5px;
  
}


 .line
{
   width :12% ;
   height: 1px;
   background-color: #ff305b;
   border-radius: 5px;
   margin: auto;
   margin-bottom: 5px;
  
}

/*=====================section 7 ( Our Blog )==================================*/

/* .Our-Blog
{
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    margin-bottom: 100px;
    margin: auto;
}
.blogs
{
    width: 100%;
    margin: auto;
    
}

.blogs .Blog
{
    width: 33.333%;
    float: left;
    margin: auto;
    text-align: left;
    border-left: 30px;
    border-right: 30px;
}

.blogs .Blog img
{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    display: block;
} */

/*=====================section 8 ( contact us )==================================*/
 
.contact-us
{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;

}

 .small-line
{
   width :5% ;
   height: 1px;
   background-color: #ff305b;
   border-radius: 5px;
   margin: auto;
   margin-bottom: 5px;
  
}


 .line
{
   width :12% ;
   height: 1px;
   background-color: #ff305b;
   border-radius: 5px;
   margin: auto;
   margin-bottom: 5px;
  
}

.contact-us h1
{
    padding-bottom: 15px;
}

.contact-us .child-of-contact-us
{
    width: 100%;
    margin-top: 60px;
    text-align: center;
    margin: auto;
    display: block;
    
}

.contact-us .child-of-contact-us .name-email
{
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.contact-us .child-of-contact-us .name-email .input-1
{
    width: 30%;
    margin-right: 10px;
    padding: 15px;
    
}

.contact-us .child-of-contact-us .name-email .input-2
{
    width: 30%;
    margin-left: 10px;
    padding: 15px;
}

.contact-us .child-of-contact-us .subject-of-theform
{
    padding-bottom: 25px;
    width: 100%;
}

.contact-us .child-of-contact-us .subject-of-theform input
{
    width: 62%;
    padding: 15px;
}

.contact-us .child-of-contact-us .textarea
{
    
    width: 100%;
} 

.contact-us .child-of-contact-us .textarea textarea
{
    width: 62%;
}

.inpbor{
    border-radius: 5px;
    border: 0.5px solid gray;
}

.contact-us .button-of-theform
{
    margin-top: 25px;
   
   width: 50%;
}

.contact-us .button-of-theform button
{
    padding: 10px 15px;
    margin-right: 35px;
    background-color: #ff305b;
    color: white;
}

.contact-us .button-of-theform button:hover
{
    background-color: red;
}

/*===================================================*/
/*============== section 9 ( footer )=================*/
footer 
{
  background-color: #333333;
  text-align: center;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}






