*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.clear-fix
{
    clear: both;
}

.home
{
  background-image: url(./imeges/hero\ img.jpg);  
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
 background-size: cover;
}
.homecontent
{
    margin: auto;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-bar
{
    padding-top: 20px;
    margin: auto;
    width:100%;
}
.nav-bar .logo
{
    float: left;
    padding-left: 150px;
    margin: auto;
    width: 50%;
}
.nav-bar .logo a
{
    font-size: 150%;
    text-align: center;
    color: #FF305B;
    text-decoration: none;
}
.nav-bar ul
{
    list-style: none;
    float: right;
    padding-right: 100px;
}
.nav-bar ul li
{
  display: inline-block;
  padding: 0px 10px;
}
.nav-bar ul li a
{
    color: #d3d3d3;
    text-decoration: none;
}
.nav-bar .fisrt-li a
{
    color: #FF305B;
}
.nav-bar ul li a:hover
{
    color: #ff305b;
}

.homecontent .content
{
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  z-index: 2;
  color:#d3d3d3 ;
}

.homecontent .content h1
{
    color: #FF305B;
    font-size: 350%;
    font-weight: 500;
}
.homecontent .content h4
{
    font-size: 150%;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;
}


/*==================================== section 2 =====================================*/
.I-HELLO
{
    width: 70% ;
    margin: auto;
    margin-top: 100px;
   
}


.I-HELLO .img
{
    width: 30%;
  float: left;
  border: 5px;
  border-style : solid; 
  border-color: rgb(67, 67, 67);
  border-radius: 3%;
  
}
.I-HELLO img
{
    width: 100%;
  float: left;
  border-radius: 3%;
  position: relative;
  top: 15px;
  left: 15px;

}

.I-HELLO .discription
{
    width: 70%;
    float: left;
    padding-left: 70px;
    
}

.I-HELLO .discription p
{
   padding-bottom: 20px;
    border-bottom: dashed 1.5px rgb(114, 111, 111);
    color: rgb(101, 100, 100);
}

.I-HELLO .discription h1 span
{
    color: #FF305B;
}

.I-HELLO .discription table td
{
    padding-right: 60px;
    padding-bottom: 7px;
    padding-top:  15px; ;
}

.I-HELLO .discription button
{
    padding: 12px 25px;
    margin-right: 35px;
    background-color: #ff305b;
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 100px;
    
}

.I-HELLO .discription button:hover
{
    background-color: red;
}

/* =================================== SECTION 3 ==================================== */

.Our-Services
{
    width: 100%;
    padding-top: 70px;
    margin-left: 100px;
    margin: auto;
    text-align: center;
    background-color: #f1f1f1;
}
.Our-Services h1
{
    padding-bottom: 30px;
}
.Our-Services .optionsss
{
    width: 100%;
    background-color:#f1f1f1 ;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
   
}
.Our-Services .optionsss .option
{
    width: 25%;
    float: left;
    border-left: 20px;
    border-right: 20px;
    border-bottom: 80px;
    border-style: solid;
    border-color: transparent;
    padding-top: 20px;
    transition: 1s;
    margin-bottom: 20px;
}

.i 
{
    color: #ff305b;
    font-size: 40;
    margin-bottom: 10px;
}

.Our-Services .optionsss .option:hover
{
    background-color: white;
    transform: scale(1.1);
    border-radius: 10px ;
}

/* =================================== SECTION 4 ( our portofolio ) ==================================== */
.Our-Portfolio
{
    width: 100%;
    padding-top: 70px;
    margin-left: 100px;
    margin: auto;
    text-align: center;
   
}
.Our-Portfolio .optionsss
{
    width: 80%;
    padding-top: 50px;
    margin: auto;
   
   
}

.Our-Portfolio .optionsss .option
{
    width: 33.33333%;
    float: left;
    border-left: 20px;
    border-right: 20px;
    border-bottom: 30px;
    border-style: solid;
    border-color: transparent;
}


.Our-Portfolio .optionsss .option img
{
    width: 100%;
    text-align: center;
}
.Our-Portfolio .optionsss2
{
    width: 80%;
    margin: auto;
   
}
.Our-Portfolio .optionsss2 .option
{
    width: 33.33333%;
    float: left;
    border-left: 20px;
    border-right: 20px;
    border-bottom: 80px;
    border-style: solid;
    border-color: transparent;
}
.Our-Portfolio .optionsss2 .option img
{
    width: 100%;
    text-align: center;
}



/* =================================== SECTION 5 ==================================== */
.section-5
{
    background-color: rgb(241,241,241);
   width: 100%;
   text-align: center;
   margin-top: 80px;
   margin-bottom: 80px;
   padding: 90px 120px;
   float: left;
  

}
.section-5 .child-of-section-5
{
    float: left;
    width: 25%;
   padding-top: 10px;
   padding-bottom: 10px;
   margin: auto;
    
}

.section-5 .child-of-section-5 h2
{
    padding: 15px 0px;
    
}




/*=====================section 6 ( Client's Feedback )===========================*/


.Clients-Feedback
{
    text-align: center;
    width: 85%;
   padding-bottom: 100px;
   padding-left: 200px;
    
}

.Clients-Feedback h1
{
    margin-bottom: 15px;
}
.feedback
{
   width: 75%;
    background-color:#f1f1f1;
    margin-top: 100px;
    margin: auto;
    border-radius: 15px;
    padding:  70px 80px;
}
.feedback .img
{
    padding-right: 30px;
    width: 20%;
    float: left;
    
}
.feedback .img img
{
 border-radius: 50%;
 border-width: 0.25px;
 border-style: solid;
 border-color: #63615c;
 width: 100%;
 padding-left: 10px;
}
.feedback .content
{
   width: 80%;
   float: left;
    text-align: left;
    
}

.feedback .content a
{
    text-decoration-line: none;
    color: #63615c;

}

.feedback .content p
{
    color: #63615c;

}
.small-line
{
   width :5% ;
   height: 1px;
   background-color: #ff305b;
   border-radius: 5px;
   margin: auto;
   margin-bottom: 5px;
  
}


 .line
{
   width :12% ;
   height: 1px;
   background-color: #ff305b;
   border-radius: 5px;
   margin: auto;
   margin-bottom: 5px;
  
}

/*=====================section 7 ( Our Blog )==================================*/

.Our-Blog
{
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    margin-bottom: 100px;
    margin: auto;
}
.blogs
{
    width: 100%;
    margin: auto;
    
}

.blogs .Blog
{
    width: 33.333%;
    float: left;
    margin: auto;
    text-align: left;
    border-left: 30px;
    border-right: 30px;
}

.blogs .Blog img
{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    display: block;
}

/*=====================section 8 ( contact us )==================================*/
 
.contact-us
{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;

}

 .small-line
{
   width :5% ;
   height: 1px;
   background-color: #ff305b;
   border-radius: 5px;
   margin: auto;
   margin-bottom: 5px;
  
}


 .line
{
   width :12% ;
   height: 1px;
   background-color: #ff305b;
   border-radius: 5px;
   margin: auto;
   margin-bottom: 5px;
  
}

.contact-us h1
{
    padding-bottom: 15px;
}

.contact-us .child-of-contact-us
{
    width: 100%;
    margin-top: 60px;
    text-align: center;
    margin: auto;
    display: block;
    
}

.contact-us .child-of-contact-us .name-email
{
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.contact-us .child-of-contact-us .name-email .input-1
{
    width: 30%;
    margin-right: 10px;
    padding: 15px;
    
}

.contact-us .child-of-contact-us .name-email .input-2
{
    width: 30%;
    margin-left: 10px;
    padding: 15px;
}

.contact-us .child-of-contact-us .subject-of-theform
{
    padding-bottom: 25px;
    width: 100%;
}

.contact-us .child-of-contact-us .subject-of-theform input
{
    width: 62%;
    padding: 15px;
}

.contact-us .child-of-contact-us .textarea
{
    
    width: 100%;
} 

.contact-us .child-of-contact-us .textarea textarea
{
    width: 62%;
}

.inpbor{
    border-radius: 5px;
    border: 0.5px solid gray;
}

.contact-us .button-of-theform
{
    margin-top: 25px;
   
   width: 50%;
}

.contact-us .button-of-theform button
{
    padding: 10px 15px;
    margin-right: 35px;
    background-color: #ff305b;
    color: white;
}

.contact-us .button-of-theform button:hover
{
    background-color: red;
}

/*===================================================*/
/*============== section 9 ( footer )=================*/
footer 
{
  background-color: #333333;
  text-align: center;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}

 footer h4
{
  
    float: left;
    text-align: center;
   
}

 footer a
{
  text-decoration: none;
  color: #ff305b;
  float: left;
  text-align: center;
  
}




